.sign-in{
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
  text-align: center;
}

mat-card-title{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 2rem;
}
// Button styling //
button{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 8px;
  width: 50%;
}

mat-form-field{
  width: 25%;
}
