<!--Footer to display quick links and copyright-->
<div class="footer">
  <div class="quick-links">
    <!--email link-->
    <!--????? INSERT EMAIL LINK WHEN AVAILABLE ????-->
    <div class ="icons">
      <a class="fa-solid fa-envelope" href="mailto:rev426@gmail.com" role="button" target="_blank"></a>
      <br>
      <span>Shoot us an Email</span>
    </div>
    <!--facebook link-->
    <div class ="icons">
      <a class="fa-brands fa-square-facebook" href="https://www.facebook.com/HighCountrySportsLlc/" role="button" target="_blank"></a>
      <br>
      <span>Follow us on Facebook</span>
    </div>
    <!--policies link-->
    <!--NOT WORKING-->
    <div class ="icons">
      <a class="fa-solid fa-file-circle-exclamation" role="button" target="_blank" routerLink="/policies"></a>
      <br>
      <span>View Our Policies</span>
    </div>
  </div>
  <!--copyright-->
  <div class="copy-right">
    <span>&copy; High Country Sports LLC 2022</span>
  </div>

  <!--TEMPORARY ???? MOVE AFTER BACK END IS READY ?????-->
  <div class="temp">
    <a  style="margin-left: 20px;" routerLink="/add-new-product">Add New Product</a>
    <a  style="margin-left: 20px;" routerLink="/add-new-announcement">Add New Announcement</a>
    <a  style="margin-left: 20px;" routerLink="/add-new-gunshow">Add New Gun Show</a>
  </div>

</div>



