<form class="new-product-form">
  <h1>Add New Product</h1>

  <mat-form-field appearance="fill">
    <mat-label>Maker</mat-label>
    <input [(ngModel)]="product.maker" name="maker" matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <input [(ngModel)]="product.model" name="model" matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <span matPrefix>$ &nbsp;</span>
    <input [(ngModel)]="product.price" name="price" matInput required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="product.description" name="description" matInput required></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Other Info</mat-label>
    <input [(ngModel)]="product.otherInfo" name="otherInfo" matInput>
  </mat-form-field>


    <input type="file" [(ngModel)]="product.image" name="image">


  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="typeControl">

      <mat-optgroup *ngFor="let productType of productTypes" [label]="productType.label">
      <mat-option *ngFor="let subtype of productType.subtypes" [value]="subtype">
        {{ subtype }}
      </mat-option>
    </mat-optgroup>


    </mat-select>
  </mat-form-field>

  <button (click)="addProduct()"  mat-raised-button>Add New Product</button>
</form>
