/* Heading styling */
h1 {
  font-weight: 300;
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline;
  background-color:#B6B5AF;
  margin: 0;
}

.header {
  background-color:#B6B5AF;
  margin: 0;
}

//styling for page content
.about-page {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color:#B6B5AF;
}


//styling for about card
//image styling
img {
  width: 20%;
}

//main content for about card
.about-content {
  float: right;
  line-height: 2;
}
//end of about card styling

//styling for contact card
i {
  padding-right: 10px;
}

//styling for policy card
//policy link styling
a {
  text-decoration: underline;
}

a{
  color: black;
}
//end of styling for policy card

//styling for all cards
//card styling
mat-card {
  flex-grow: 10;
}

mat-card-content {
  padding: 10px;
}

//card title styling
mat-card-title {
  padding: 10px;
}

//additional card styling
.about-card {
  width: 100%;

}

.contact-card .policy-card{
  flex-grow: grow;
}






@media only screen and (max-width: 600px) {
  //styling for about card
//image styling
img {
  width: 90%;
}
.about-content {
  line-height: 1.5;
}

.about-card {
  height: auto;
  margin: 4px;
}

.contact-card, .policy-card {
  height: auto;
  margin: 4px;
}
}
