<!--Heading-->
<div class="header">
  <h1>About</h1>
</div>

<!--Div to contain all about page content-->
<div class="about-page ">

  <!--About card-->
  <mat-card class="about-card">
    <mat-card-title-group>
      <mat-card-title>High Country Sports LLC</mat-card-title>
    </mat-card-title-group>
    <img src="../../assets/profile.jpg" class="w3-quarter">
    <mat-card-content class="about-content w3-threequarter">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </mat-card-content>
  </mat-card>

  <!--Contact card-->
  <mat-card class="contact-card">
    <mat-card-title-group>
      <mat-card-title>Contact Us</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <p class="phone"><i class="fa-solid fa-phone"></i>701-527-0186</p>
      <p class="email"><i class="fa-solid fa-envelope"></i>rev426@gmail.com</p>
    </mat-card-content>
  </mat-card>

  <!--Policy card-->
  <mat-card class="policy-card">
    <mat-card-title-group>
      <mat-card-title>Our Policies</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <h4>Policies, terms, and conditions</h4>
      <!--Button to route to policy page-->
      <a routerLink="/policies">Policies</a>
    </mat-card-content>
  </mat-card>
</div>
