<!--search bar on page to display search-->
<!--?????ICON IN SEARCH BAR????-->
<div class="search-bar">
  <input [(ngModel)]="searchText" (ngModelChange)="searchChange()" class="search" type="text" placeholder="Search Our Inventory">
</div>

<!--Top bar on page to display logo and slogan-->
<div class="logo-bar">
  <h1 class="logo">High Country Sports LLC<span class="vl">|</span></h1>
  <h2>We appreciate your business, <span class="shoot">shoot</span> us some more!</h2>
</div>

<!--Nav bar-->
<div class="topnav">
  <a routerLink="/home">Home</a>
  <a routerLink="/products">Products</a>
  <a routerLink="/about">About</a>
  <a routerLink="/gunshows">Gun Shows</a>
</div>




