h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: #f8f4f0;

}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.policy-content
 {
  width: 90%;
  margin-left: 5%;
 }
