.admin{
  font-size: 18px;
    i{
      padding: 4px;
    }
}

mat-card-title {
  font-size: 20px;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}

mat-card-subtitle {
  font-size: 20px;
  text-align: center;
}

mat-card {
  padding: 4px;
}

.text {
  font-size: 16px;
  text-align: center;
}

img {
  width: 60%;
  margin-left: 20%;
  padding: 10px;
}
